.markdown-body {
    font-size: 11px !important;
    line-height: 1.3 !important;
}
.markdown-body h3 {
    margin-top: 11px !important;
    margin-bottom: 11px !important;
}
.markdown-body h2 {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    z-index: 2000;
}
.markdown-body p {
    margin-bottom: 4px !important;
    font-family: "Open Sans", sans-serif;
}
table.mktbl {
    font-size: 10px !important;
    border: none !important;
    padding-top: -20px !important;
    background: none !important;
}
table.mktbl td {
    width: 50%;
    border-style: hidden !important;
}
table.bottom-table {
    margin-top: -45px !important;
    vertical-align: top;
}
table.top-table {
    margin-top: -10px !important;
    font-size: 9px !important;
    vertical-align: middle !important;
}
span.oses {
    font-size: 15px !important;
}
